__pycache__/
*.pyc
*.pyo
*.pyd

# Caches
.caches/

# Virtual environment
venv/
env/


*.pyc


.env


local_settings.py


*.sqlite3
db.sqlite3


*.log


.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*


.DS_Store


Thumbs.db